body {
	display:flex;
	flex-direction: column;
	font-family: cursive;
	background-image: url(../images/maxresdefault.jpg);
	background-repeat: no-repeat;	
	background-attachment: fixed;
	width:100%;
}


.header{
	display:flex;
	flex-direction:column;	
	background-color: azure;
	border-bottom: border;
	border-bottom-style:solid;
	align-items: center;
	text-align: center;
}

.buttons {
	display:flex;
	justify-content: space-around;
	width :60%;
}



.main-stuff {
	background-color:white;
	display: flex;
	flex-direction: row;
}

.left-menu {
	width:20%;
	background-color:blue;
}

.center-content {
	width:60%;
	background-color: aqua;
	padding:20px;
}

.right-menu {
	width:20%;
	background-color:black;
}